<% title "Login" %>

<% form_tag session_path, :id => 'login' do %>

<label>Username</label>
<%= text_field_tag 'login' %>
<br />
<label>Password</label>
<%= password_field_tag 'password' %>
<br />
<%= submit_tag 'login' %>
<% end %>