/* Green - #517e3a */
/* Brown - #9f904f */
/* BG Grey - #8C8681 */
/* Grey Stripes - #ccdcdc */
/* Grey Header - #666A73 */


html {
    background: #737373;
    font-family: Verdana, Geneva, sans-serif;
    font-size: .8em;
}

#head_content {
    width: 1142px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-bottom: 0px;
    background: #72965e;
    padding-left: 20px;
    padding-right: 20px;
}

#content {
    width: 1142px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-top: 0px;
    background: white;
    padding: 20px;
}

.valign_top {
    vertical-align: top;
}

#title img {
    padding: 10px;
    padding-left: 0px;
    margin: 0px;
    margin-left: -15px;
    clear: both;
}

#title a {
    font-size: 2.1em;
    color: #2F3540;
}

#nav {
    margin-left: auto;
    margin-right: auto;

    width: 1142px;
    border: 1px solid black;
    border-bottom: 0px;
    border-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

#nav_span {
    height: 96px;
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
}

#nav_span img {
    padding-top: 23px;
}

#nav_span a {
    padding-left: 39px;
    padding-right: 39px;
}

#sub_nav {
    padding: 12px;
    margin-bottom: 30px;
}

#sub_nav a {
    text-decoration: none;
}

#sub_nav a:hover {
    text-decoration: underline;
}

#nav a{
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

#login_area {
    margin-top: 10px;
    text-align: right;
    color: white;
}

#login_area a {
    text-decoration: none;
    color: white;
}

#login_area a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

a, a:visited, a:active {
    color: black;
}

#q {
    margin-right: 20px;
}

.in-place-editor input {
    margin-right: 10px;
}

h1 a {
    text-decoration: none;
}

#property_div, #contact_div, #contact_list {
    width: 560px;
}

#property_div h3, #contact_div h3 {
    width: 558px;
    background-color: #517e3a;
    background-image: url("../images/nav_gradient.png");
    background-position: bottom;
    color: white;
    margin-bottom: 0px;
    padding: 3px 0px;
    border: 1px solid black;
    border-bottom: 0px;
}

#property_div table, #contact_div table {
    width: 100%;
    border-collapse: collapse;
}

#property_div td, #contact_div td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#property_div td.top_border_less, #contact_div td.top_border_less {
    border-top: 0px;
}

#property_div td:first-child, #contact_div td:first-child {
    width: 30%;
    padding-top: 6px;
    padding-bottom: 6px;
    border-left: 1px solid black;
}

#property_div td:last-child, #contact_div td:last-child {
    border-right: 1px solid black;
}

#property_div td img, #contact_div td img {
    float: right;
    margin-right: 10px;
}

#form_bottom {
    clear: both;
}

#form_bottom h3 {
    background-color: #517e3a;
    background-image: url("../images/nav_gradient.png");
    background-position: bottom;
    color: white;
    margin-bottom: 0px;
    padding: 3px 0px;
    border: 1px solid black;
}

#form_bottom textarea {
    border: 1px solid black;
    margin: 0px;
    width: 1136px;
}

#notification {
    border: 3px solid black;
    background: #cfc;
    margin: 40px;
    padding: 20px;
}

.fieldWithErrors input {
    border: 2px solid red;
}

#browse_table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

#browse_table caption {
    font-size: 1.1em;
    margin-bottom: 10px;
}

#browse_table td {
    border: 0px dotted black;
    padding-right: 15px;
    margin: 0px;
    
}

#browse_table tr.odd {
    background: #dcdfdc;
    width: 100%;
}

#browse_table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

#browse_table td.noborder {
    padding-right: 10px;
    padding-left: 10px;
}

#browse_table th {
    text-align: left;
    padding-right: 10px;
    background-image: url("../images/nav_gradient.png");
    background-position: bottom;
    padding-bottom: 3px;
    padding-top: 2px;
    text-decoration: none;
    font-size: 1.1em;
    color: white;
}

#browse_table th a {
    text-decoration: none;
    color: white;
}

#property_edit {
    width: 100%;
}

#property_edit td {
    margin-left: auto;
    margin-right: auto;
}

#property_edit td td {
    padding-right: 5px;
}

.comment_listing {
    border: 1px solid black;
    margin-bottom: -1px;
    padding: 12px 10px 0px 5px;
}

.Accounting {
    background-color: #ffff99;
}

.Code_Violations {
    background-color: #ffccff;
}

.Escrow {
    background-color: #99cc99;
}

.Repairs {
    background-color: #6699ff;
}

.Admin {
    background-color: #cc6666;
}

th.sortup a {
    background: url("../images/up-arrow.gif") center right no-repeat;
    padding-right: 25px;
}

th.sortdown a {
    background: url("../images/down-arrow.gif") center right no-repeat;
    padding-right: 25px;
}

input {
    margin-left: auto;
    margin-right: auto;
}

.required td {
    background-color: #91be7a;
}
