<% title "Find Property" %>

<%= form_tag( {:controller => 'properties', :action => 'search'}, :method => 'get' ) %>

<%= text_field_tag :q, params[:q] %>

&nbsp;&nbsp;<%= submit_tag "Search" %>

<br /><br />

<% if @results %>
  <div id="browse_table">
    <%= render :partial => "property_list" %>
  </div>
<% end %>