<% title "Find Contact" %>

<%= form_tag( {:controller => 'contacts', :action => 'search'}, :method => 'get' ) %>

<%= text_field_tag :q, params[:q] %>

&nbsp;&nbsp;<%= submit_tag "Search" %>

<br /><br />

<% if @results %>
  <div id="browse_table">
    <%= render :partial => "contact_list" %>
  </div>
<% end %>